body {
    font-family: 'Roboto', sans-serif;
    margin: 15px;
    padding: 15px;
    background-color: #03051b;
    color: #f0e7e7;
    font-size: 25px;
    line-height: 1.6em;
    text-align: center;
    image-rendering: optimizeQuality;
    shape-image-threshold: inherit;
    border-image-width: 50px;
    
    
  }
h1{
    font-size: 15px;
}
h3{
    font-size: 40px;
}
li{
    font-size: 40px;
    text-underline-position: under;
    text-align: left;
}
